/* This is a type selector */
h1 {
	font-size: 3em;
}

/* This is a type selector */
h2 {
	font-size: 2.5em;
}

h1, h2 {
	color: orange; /* color is a property/attributes, and orange is a value */
}

/* This is a pseudo-class */
h1:hover {
	border: 2px solid orange;
	font-family: 'Comic Sans MS', sans-serif;
	text-decoration: underline;
}

/* This is a pseudo-element */
p::first-letter {
	color: green;
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 4em;
}

/* This is a class selector */
.intro-text {
	font-size: 2em;
}

/* This is an ID selector */
#copyright {
	font-size: .8em;
}

